body {
    padding: 0.5rem;
}

:root {
    --button-bg-color: rgba(24, 144, 255, 1);
    ;
    --button-color: #fff;
}

.Bgc\(#0280ae\) {
    background-color: #0280ae;
}

.C\(#fff\) {
    color: #fff;
}

.P\(20px\) {
    padding: 20px;
}

.forms {
    display: flex;
    gap: 2rem;

}

.lodingButton button {
    border: none;
    background-color: var(--button-bg-color);
    color: var(--button-color);
    padding: 8px 10px;
    text-align: center;
    display: flex;
    gap: 0.5rem;
    border-radius: 3px;
}

.lodingButton2 button {
    display: flex;
    gap: 0.5rem;
}

#submitButton3 {
    border: dashed;
    /* background-color: var(--button-bg-color);
    color: var(--button-color); */
    padding: 5px 10px;
    text-align: center;
    display: flex;
    gap: 0.5rem;
    /* border: 0; */
    border-radius: 3px;
}

#loadingSpinner {
    border: 4px solid #fff;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: none;
}

#loadingSpinner2 {
    border: 4px solid #fff;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: none;
}

#loadingSpinner3 {
    border: 4px solid #fff;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#myForm.loading {
    opacity: 0.5;
}

#myForm.searchDetail #searchIcon {
    opacity: 0.5;
}

@media screen and (max-width:650px) {
    .forms{
        display: flex;
        flex-direction: column;
    }
}